.button {
  padding: 14px 20px;
  font-size: 1.6rem;
  font-family: $font-lato;
  font-weight: 500;
  letter-spacing: 0.019rem;
  text-align: center;
  border-radius: 5px;
  background-color: $pix-blue;
  color: $white;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover, &:active, &:focus {
    background-color: $pix-blue-hover;
    transition: background-color 0.2s ease;
  }

  &--round {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
  }

  &--thin {
    padding-top: 11px;
    padding-bottom: 11px;
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  &--white {
    background-color: $white;
    color: $black;

    &:hover, &:active, &:focus {
      background-color: $alto-grey-light;
    }
  }

  &--grey {
    background: $gallery-grey;
    color: $grayish-grey;

    &:hover, &:active, &:focus {
      background-color: $alto-grey;
    }
  }

  &--no-color {
    background-color: transparent;
    color: $nero;

    &:hover, &:active, &:focus {
      background-color: $alto-grey-light;
    }
  }

  &--regular {
    width: 120px;
  }

  &--big {
    width: 180px;
  }

  &--extra-big {
    width: 280px;
  }

  &--link {
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: $white;
      text-decoration: none;
    }
  }
}

.icon-button {
  color: $dove-gray;
  padding: 6px 8px;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover, &:focus, &:active {
    background-color: $alto-grey-light;
    border-radius: 16px;
    transition: background-color 0.2s ease;
  }
}

.loader-in-button {
  background: url('/images/loader-white.svg');
  background-size: 50px 58px;
  margin: auto;
  height: 35px;
  width: 58px;
  margin-top: -5px;
}


.link {
  color: $pix-blue;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $pix-blue-hover;
  }
}
